// Rows
//
// Alignment
@mixin row-alignment($class-name) {
  // Main axis
  @if ($class-name != 'xs') {
    &.start-#{$class-name} {
      justify-content: flex-start;
    }
  }

  &.center-#{$class-name} {
    justify-content: center;
  }

  &.end-#{$class-name} {
    justify-content: flex-end;
  }

  &.around-#{$class-name} {
    justify-content: space-around;
  }

  &.between-#{$class-name} {
    justify-content: space-between;
  }

  // Cross axis
  @if ($class-name != 'xs') {
    &.stretch-#{$class-name} {
      align-items: stretch;
    }
  }

  &.baseline-#{$class-name} {
    align-items: baseline;
  }

  &.top-#{$class-name} {
    align-items: flex-start;
  }

  &.middle-#{$class-name} {
    align-items: center;
  }

  &.bottom-#{$class-name} {
    align-items: flex-end;
  }
}
// Direction
@mixin row-direction($class-name) {
  @if ($class-name != 'xs') {
    &.row-#{$class-name} {
      flex-direction: row;
    }
  }

  &.row-reverse-#{$class-name} {
    flex-direction: row-reverse;
  }

  &.column-#{$class-name} {
    flex-direction: column;
  }

  &.column-reverse-#{$class-name} {
    flex-direction: column-reverse;
  }
}

// Columns
//
// Width
@mixin columns-width($class-name) {
  @for $i from 1 through 12 {
    .col-#{$class-name}-#{$i} {
      flex-basis: percentage($i / $grid-columns);
      max-width: percentage($i / $grid-columns);
    }
  }
}
// Offset
@mixin columns-offset($class-name) {
  @for $i from 0 through 11 {
    @if ($class-name != 'xs' or $i != 0) {
      .col-#{$class-name}-offset-#{$i} {
        margin-left: percentage($i / $grid-columns);
      }
    }
  }
}
// Order
@mixin columns-order($class-name) {
  &.first-#{$class-name} {
    order: -1;
  }

  &.last-#{$class-name} {
    order: 1;
  }
}
// Visibility
@mixin columns-hidden($class-name) {
  &.hidden-#{$class-name} {
    display: none;
  }
}
// Generate columns
@mixin generate-columns {
  $list: '.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1';

  @for $i from 2 through $grid-columns {
    $list: '#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}';
  }

  #{$list} {
    flex: 0 0 auto;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    box-sizing: border-box;
  }

  @include columns-width('xs');
  @include columns-offset('xs');
  @include columns-order('xs');
  @include columns-hidden('xs-up');

  @media (max-width: $screen-xs-max) {
    @include columns-hidden('xs');
  }
  @media (min-width: $screen-sm-min) {
    @include columns-width('sm');
    @include columns-offset('sm');
    @include columns-order('sm');
    @include columns-hidden('sm-up');
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include columns-hidden('sm');
  }
  @media (min-width: $screen-md-min) {
    @include columns-width('md');
    @include columns-offset('md');
    @include columns-order('md');
    @include columns-hidden('md-up');
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include columns-hidden('md');
  }
  @media (min-width: $screen-lg-min) {
    @include columns-width('lg');
    @include columns-offset('lg');
    @include columns-order('lg');
    @include columns-hidden('lg');
  }
}
