// Placeholders
%container-fluid {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

%container {
  @extend %container-fluid;

  @media (min-width: $screen-sm-min) {
    max-width: $container-sm;
  }
  @media (min-width: $screen-md-min) {
    max-width: $container-md;
  }
  @media (min-width: $screen-lg-min) {
    max-width: $container-lg;
  }
}
